In [108]:
import pandas as pd

location_of_csv_files = "data/"
#length = input("Select the length of word to analyse:")         # Select the length of word to analyse
length = str(5)
df = pd.read_csv(location_of_csv_files + f"word_length_" + length + "_as_characters.csv")
print(df)
df_char_word = df.iloc [: , 2: ]

       word  length  1  2  3  4  5
0     ABACA       5  A  B  A  C  A
1     ABACK       5  A  B  A  C  K
2     ABADA       5  A  B  A  D  A
3     ABAFT       5  A  B  A  F  T
4     ABAND       5  A  B  A  N  D
...     ...     ... .. .. .. .. ..
6010  ZUCHE       5  Z  U  C  H  E
6011  ZUIAN       5  Z  U  I  A  N
6012  ZULUS       5  Z  U  L  U  S
6013  ZUNIS       5  Z  U  N  I  S
6014  ZYMIC       5  Z  Y  M  I  C

[6015 rows x 7 columns]

In [105]:
df_alphabet_occurrence = pd.DataFrame()
for col_label, col in df_char_word.iteritems():
    column_to_add = df_char_word.groupby(col_label).size()    # DataFrame of counted objects of the same type
    column_to_add = column_to_add.to_frame(name=col_label)
    df_alphabet_occurrence = pd.concat([df_alphabet_occurrence, column_to_add], axis=1)
df_alphabet_occurrence

     1    2    3      4       5
A  404  912  641  552.0   340.0
B  395   42  150   67.0    30.0
C  469   99  161  276.0   103.0
D  262   45  194  188.0   321.0
E  183  727  464  850.0  1170.0
F  302   17   66   74.0    52.0
G  277   38  196  182.0    69.0
H  196  325   46   89.0   253.0
I  100  542  543  521.0    61.0
J   76    3    8    6.0     NaN
K   98   35   77  128.0   178.0
L  240  409  352  398.0   416.0
M  315   96  198  174.0   131.0
N  143  210  394  390.0   400.0
O  122  824  520  343.0   178.0
P  385  139  160  139.0    93.0
Q   55   10    8    NaN     NaN
R  258  555  536  401.0   445.0
S  859   54  235  368.0   341.0
T  379  168  310  352.0   526.0
U  115  503  351  244.0    34.0
V  114   37  130  107.0     NaN
W  183   83  101   62.0    59.0
X   11   28   39    4.0    45.0
Y   43  101   93   44.0   763.0
Z   31   13   42   56.0     7.0

In [106]:
df_alphabet_occurrence["Totals"] = df_alphabet_occurrence.sum(axis=1)       # Adds up data in the row

In [107]:
df_alphabet_occurrence

     1    2    3      4       5  Totals
A  404  912  641  552.0   340.0  2849.0
B  395   42  150   67.0    30.0   684.0
C  469   99  161  276.0   103.0  1108.0
D  262   45  194  188.0   321.0  1010.0
E  183  727  464  850.0  1170.0  3394.0
F  302   17   66   74.0    52.0   511.0
G  277   38  196  182.0    69.0   762.0
H  196  325   46   89.0   253.0   909.0
I  100  542  543  521.0    61.0  1767.0
J   76    3    8    6.0     NaN    93.0
K   98   35   77  128.0   178.0   516.0
L  240  409  352  398.0   416.0  1815.0
M  315   96  198  174.0   131.0   914.0
N  143  210  394  390.0   400.0  1537.0
O  122  824  520  343.0   178.0  1987.0
P  385  139  160  139.0    93.0   916.0
Q   55   10    8    NaN     NaN    73.0
R  258  555  536  401.0   445.0  2195.0
S  859   54  235  368.0   341.0  1857.0
T  379  168  310  352.0   526.0  1735.0
U  115  503  351  244.0    34.0  1247.0
V  114   37  130  107.0     NaN   388.0
W  183   83  101   62.0    59.0   488.0
X   11   28   39    4.0    45.0   127.0
Y   43  101   93   44.0   763.0  1044.0
Z   31   13   42   56.0     7.0   149.0